
.str0 {stroke:#282829;stroke-width:45.3596}
.str3 {stroke:#282829;stroke-width:15.1199}
.str1 {stroke:#282829;stroke-width:12.0959}
.str2 {stroke:#282829;stroke-width:4.60854}
.fil2 {fill:none}
.fil4 {fill:black}
.fil5 {fill:#717171}
.fil0 {fill:gray}
.fil1 {fill:#ECECEC}
.fil3 {fill:#FCFCFC}